{% extends 'base_ownership.html' %}

{% load staticfiles %}

{% block body %}
      <div class="container">
          <p class="h3" style="margin-bottom: 50px;">Tenant: {{ tenant.tenantName }}</p>

            <div class="row">

            {% for l in locations %}
            <div class="col-6">
              <div class="card" style="margin-top:50px;">
                <div class="card-header">
                  <h5>{{ l.city }}</h5>
                </div>
                <div class="card-block">
                  <div class="row">
                    <div class="col-2"><p class="h5">State</p></div><div class="col-10"><p class="text-muted">{{ l.state }}</p></div>
                    <div class="col-2"><p class="h5">City</p></div><div class="col-10"><p class="text-muted">{{ l.city }}</p></div>
                    <div class="col-2"><p class="h5">District</p></div><div class="col-10"><p class="text-muted">{{ l.district }}</p></div>

                  </div>
                  <a href="{% url 'tenant_location_detail' l.id %}" class="btn btn-primary">Details</a>
                </div>
              </div>
            </div>

          {% endfor %}
          </div>


        </div>
{% endblock %}

{% block script %}
<script>
         var tenantID = {{ tenant.id }};
         var computersToAdd = [];
</script>

<script src="{% static 'js/tenant_detail.js' %}"></script>
{% endblock %}