{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}

<div class="container">
          <div class="form-group row">
          <label for="model-input" class="col-2 col-form-label">Model</label>
          <div class="col-10">
            <select class="form-control" id="model-input">
              <option value="1">Desktop Computer</option>
              <option value="2">Tab</option>
              <option value="3">Laptop</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="pc-tag-input" class="col-2 col-form-label">PC Tag Number</label>
          <div class="col-10">
            <input class="form-control" type="text" id="pc-tag-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="pc-name-input" class="col-2 col-form-label">PC Name</label>
          <div class="col-10">
            <input class="form-control" type="text" id="pc-name-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="pc-model-series-input" class="col-2 col-form-label">PC Model Series</label>
          <div class="col-10">
            <input class="form-control" type="text" id="pc-model-series-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="serial-number-input" class="col-2 col-form-label">Serial Number</label>
          <div class="col-10">
            <input class="form-control" type="text"  id="serial-number-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="operating-system-input" class="col-2 col-form-label">Operating System</label>
          <div class="col-10">
            <input class="form-control" type="text" id="operating-system-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="processor-input" class="col-2 col-form-label">Processor</label>
          <div class="col-10">
            <input class="form-control" type="text" id="processor-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="system-type-input" class="col-2 col-form-label">System Type</label>
          <div class="col-10">
            <select class="form-control" id="system-type-input">
              <option value="32-bit">32-bit</option>
              <option value="64-bit">64-bit</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="ram-input" class="col-2 col-form-label">RAM</label>
          <div class="col-10">
            <select class="form-control" id="ram-input">
              <option value="1GB">1GB</option>
              <option value="2GB">2GB</option>
              <option value="4GB">4GB</option>
              <option value="8GB">8GB</option>
              <option value="16GB">16GB</option>
              <option value="32GB">32GB</option>
              <option value="64GB">64GB</option>
              <option value="128GB">128GB</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="hard-drive-input" class="col-2 col-form-label">Hard Drive</label>
          <div class="col-10">
            <select class="form-control" id="hard-drive-input">
              <option value="128GB">128GB</option>
              <option value="256GB">256GB</option>
              <option value="500GB">500GB</option>
              <option value="1TB">1TB</option>
              <option value="2TB">2TB</option>
              <option value="4TB">4TB</option>
              <option value="8TB">8TB</option>
            </select>
          </div>
        </div>
        <div class="form-group row" id="monitor-input-group">
          <label for="monitor-input" class="col-2 col-form-label">Monitor</label>
          <div class="col-8">
            <select class="form-control" id="monitor-input">
                <option value="null">None</option>
                {% for m in monitors %}
                <option value="{{m.id}}">{{m.tagNo}}</option>
                {% endfor %}
            </select>
            <div class="row" id="add-new-monitor-form-group">
              <div class="col-12 card" style="margin-top: 10px; padding: 10px"><!-- add new monitor -->
                <div class="form-group row">
                  <label for="serial-number-monitor-input" class="col-2 col-form-label">Serial Number</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="serial-number-monitor-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="monitor-tag-input" class="col-2 col-form-label">Monitor Tag</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="monitor-tag-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="monitor-age-input" class="col-2 col-form-label">Age</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="monitor-age-input">
                  </div>
                </div>
                <div>
                </div>
                <button class="btn btn-primary col-2" id="submit-monitor-button">Add</button>
              </div><!--End add monitor -->
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-danger" id="add-new-monitor-button">Add New Monitor</button>
          </div>
        </div>
        <div class="form-group row">
          <label for="projector-input" class="col-2 col-form-label">Projector</label>
          <div class="col-8">
            <select class="form-control" id="projector-input">
              <option value="null">None</option>
                {% for p in projectors %}
                <option value="{{p.id}}">{{p.projectorTag}}</option>
                {% endfor %}
            </select>
            <div class="row" style="margin-top: 10px" id="add-new-projector-form-group">
              <div class="col-12 card" style="margin-top:10px; padding:10px"><!-- add new projector -->
                <div class="form-group row">
                  <label for="projector-model-input" class="col-2 col-form-label">Projector Model</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="projector-model-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="projector-year-input" class="col-2 col-form-label">Year</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="projector-year-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="serial-number-projector-input" class="col-2 col-form-label">Serial Number</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="serial-number-projector-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="projector-tag-input" class="col-2 col-form-label">Projector Tag</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="projector-tag-input">
                  </div>
                </div>
                  <button class="btn btn-primary col-2" id="submit-projector-button">Add</button>
              </div><!--End add projector -->
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-danger" id="add-new-projector-button">Add New Projector</button>
          </div>
        </div>
        <button class="btn btn-primary col-2" id="save-button">Save</button>
        </div>

{% endblock %}

{% block script %}
<script src="{% static 'js/addcomputerform.js' %}"></script>
{% endblock %}