{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}

<div class="container">
                <div class="form-group row">
                  <label for="equipment-input" class="col-2 col-form-label">Equipment</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="equipment-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="description-input" class="col-2 col-form-label">Description</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="description-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="serial-number-input" class="col-2 col-form-label">Serial Number</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="serial-number-input">
                  </div>
                </div>
                <div>
                </div>
                <button class="btn btn-primary col-2" id="submit-asset-button">Add</button>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'js/addcomputerform.js' %}"></script>
{% endblock %}