{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}

<div class="container">
                <div class="form-group row">
                  <label for="licenses-input" class="col-2 col-form-label">Licenses </label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="licenses-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="principal-name-input" class="col-2 col-form-label">Principal Name</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="principal-name-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="date-created-input" class="col-2 col-form-label">Date Created</label>
                  <div class="col-10">
                    <input class="form-control" type="text" id="date-created-input">
                  </div>
                </div>
                <button class="btn btn-primary col-2" id="submit-email-button">Add</button>
</div>


{% endblock %}


{% block script %}
<script src="{% static 'js/addcomputerform.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#date-created-input').datepicker();
    });
</script>
{% endblock %}